%h1 Quotes

%table.table.table-striped
  %tr
    %th Source
    %th Quote
    %th Weight
    %th
  - @quotes.each do |quote|
    %tr
      %td= quote.source
      %td= quote.quote_snippet
      %td= quote.weight
      %td
        = link_to fa_icon("eye"), quote_path(quote)
        &nbsp;
        = link_to fa_icon("pencil"), edit_quote_path(quote), class: "text-warning"
        &nbsp;
        = link_to fa_icon("trash"), quote_path(quote), class: "text-danger", method: :delete, "data-confirm": "Really delete this quote?"
  %tr
    %td{colspan: 10}= link_to fa_icon("plus"), new_quote_path
