.centered-800
  %h1 Quotes
  = render partial: "filter"

  %p
    = link_to fa_icon("plus") + " New quote", new_quote_path
    &nbsp;
    = link_to "Export to JSON", quotes_path(:json, params)

  %table.table.table-striped
    %tr
      %th Source
      %th Quote
      %th Tags
      %th Weight
      %th
    - @quotes.each do |quote|
      %tr
        %td
          .nowrap{style: "max-width: 150px; overflow: hidden;"}
            = quote.source.html_safe
        %td
          .nowrap{style: "max-width: 400px; overflow: hidden;"}
            = quote.quote_snippet.html_safe
        %td
          - quote.tag_list.each do |tag|
            .label.label-default= tag
        %td= quote.weight
        %td.nowrap
          = link_to fa_icon("eye"), quote_path(quote)
          &nbsp;
          = link_to fa_icon("pencil"), edit_quote_path(quote), class: "text-warning"
          &nbsp;
          = link_to fa_icon("trash"), quote_path(quote), class: "text-danger", method: :delete, "data-confirm": "Really delete this quote?"
